{% extends 'base.html' %} <br />
{% load static%}{% block title %}質問一覧{% endblock %}
<br />
{% block content %}
<div class="w-full max-w-7xl">
  <div class="p-5 mx-auto md:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-4xl font-bold text-center text-blue-600">質問一覧</h1>
    </div>
  </div>
</div>

{% for question in questions %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-100">
      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-gray-700">
            投稿者 {{ question.name }}
          </span>
          <span class="mt-1 text-gray-500 text-sm">
            {{ question.created_at }}
          </span>
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">
            {{ question.title }}
          </h2>
          <p class="leading-relaxed">{{ question.content }}</p>
          <a
            class="text-indigo-500 inline-flex items-center mt-4"
            href="/introduce/question/{{ question.id }}"
          >
            > 返信を見る
            <svg
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %} {% endblock %}
